<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">

        <div class="container" style="width: 95%">
            <form class="form-horizontal" th:action="@{/fleet/vehicless}" method="post">
                <div class="row justify-content-center white-bg">
                    <section class="panel">
                        <header class="panel-heading">
                            Editing Vehicle Record
                        </header>

                        <div class="col-lg-4">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Vehicle Id: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${vehicle.id}" readonly
                                               name="id" style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Vehicle Type: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="vehicletypeid" required style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="vehicleType : ${vehicleTypes}"
                                                    th:selected="${vehicleType.id} == ${vehicle.vehicletypeid}?True:False"
                                                    th:value="${vehicleType.id}"
                                                    th:text="${vehicleType.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtVehicleNameAdd" class="col-sm-4 col-form-label">Vehicle Name: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${vehicle.name}"  id="txtVehicleNameAdd" name="name"
                                               placeholder="Vehicle name" required pattern="[A-Za-z\s]{2,}" style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtVehicleNumberAdd" class="col-sm-4 col-form-label">Vehicle Number: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${vehicle.vehicleNumber}"  id="txtVehicleNumberAdd"   name="vehicleNumber"
                                               placeholder="Vehicle number" required pattern="[A-Za-z0-9\s-]{1,}" style="width: 200px;">
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label for="txtRegistrationDateAdd" class="col-sm-4 col-form-label">Registration Date: </label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" th:value="${vehicle.registrationDate}" id="txtRegistrationDateAdd" name="registrationDate"
                                               placeholder="Registration date" required style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtDescriptionAdd" class="col-sm-4 col-form-label">Description: </label>
                                    <div class="col-sm-6">
                            <textarea type="text" class="form-control" th:value="${vehicle.description}" id="txtDescriptionAdd" name="description"
                                      placeholder="Description" rows="2" required style="width: 200px;"></textarea>
                                    </div>
                                </div>


                            </section>
                        </div>
                        <div class="col-lg-4">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Power: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${vehicle.power}" id="ddlPowerAdd" name="power"
                                               placeholder="Power (diesel or petrol)" required style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtFuelCapacityAdd" class="col-sm-4 col-form-label">Fuel Capacity L: </label>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control" th:value="${vehicle.fuelCapacity}" id="txtfuelCapacityAdd" name="fuelCapacity"
                                               placeholder="Fuel Capacity" required min="0" style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtNetWeightAdd" class="col-sm-4 col-form-label">Net Weight Kg: </label>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control" th:value="${vehicle.netWeight}" id="txtNetWeightAdd" name="netWeight"
                                               placeholder="Net Weight" required min="0" style="width: 200px;">
                                    </div>
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <label for="txtRemarksAdd" class="col-sm-4 col-form-label">Remarks: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                            <textarea type="text" class="form-control"  th:value="${vehicle.remarks}" id="txtRemarksAdd" name="remarks"-->
<!--                                      placeholder="Remarks" rows="2"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="ddlEmployeeAdd" class="col-sm-4 col-form-label">In Charge</label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <select class="form-control" id="ddlEmployeeAdd" name="employeeid" >-->
<!--                                            <option th:value="${null}" disabled>-SELECT-</option>-->
<!--                                            <option th:each="employee : ${employees}"-->
<!--                                                    th:selected="${employee.id} == ${vehicle.employeeid}?True:False"-->
<!--                                                    th:value="${employee.id}"-->
<!--                                                    th:text="${employee.firstname}">-->
<!--                                            </option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <div class="form-group row">
                                    <label for="txtAcquisitionDateAdd" class="col-sm-4 col-form-label">Acquisition Date: </label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" th:value="${vehicle.acquisitionDate}" id="txtAcquisitionDateAdd" name="acquisitionDate"
                                               placeholder="Acquisition date" required style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlVehicleMakeAdd" class="col-sm-4 col-form-label">Vehicle Make: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlVehicleMakeAdd" name="vehiclemakeid" required style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="vehicleMake : ${vehicleMakes}"
                                                    th:value="${vehicleMake.id}"
                                                    th:text="${vehicleMake.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <!--                                <div class="form-group row">-->
                                <!--                                    <label for="ddlCurrentLocationAdd" class="col-sm-4 col-form-label">Current Location</label>-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <select class="form-control" id="ddlCurrentLocationAdd" name="locationid" required>-->
                                <!--                                            <option th:value="${null}">-SELECT-</option>-->
                                <!--                                            <option th:each="location : ${locations}"-->
                                <!--                                                    th:value="${location.id}"-->
                                <!--                                                    th:text="${location.description}">-->
                                <!--                                            </option>-->
                                <!--                                        </select>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                            </section>
                        </div>
                        <div class="col-lg-4">
                            <section class="panel">
                                <div class="form-group row">
                                    <label for="ddlVehicleModelAdd" class="col-sm-4 col-form-label">Vehicle Model: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlVehicleModelAdd" name="vehiclemodelid" required style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="vehicleModel : ${vehicleModels}"
                                                    th:selected="${vehicleModel.id} == ${vehicle.vehiclemodelid}?True:False"
                                                    th:value="${vehicleModel.id}"
                                                    th:text="${vehicleModel.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtAcquisitionDateAdd" class="col-sm-4 col-form-label">Assigned To: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtAcquisitionDateAdd" name="inCharge"
                                               placeholder="Assigned To" style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlCurrentStatusAdd" class="col-sm-4 col-form-label">Current Status</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlCurrentStatusAdd" name="vehiclestatusid" required style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="vehicleStatus : ${vehicleStatuses}"
                                                    th:selected="${vehicleStatus.id} == ${vehicle.vehiclestatusid}?True:False"
                                                    th:value="${vehicleStatus.id}"
                                                    th:text="${vehicleStatus.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Select Image: </label>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fupImageAdd" name="photo"
                                               placeholder="Select File" style="width: 200px;">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
                <br>
                <div class="row white-bg">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                        <a href="/fleet/vehicles" class="btn btn-warning">
                            Exit
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </section>
</div>

</body>
</html>
