<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">

        <div class="container" style="width: 100%">
            <form class="form-horizontal" th:action="@{/hr/employeess}" method="post">
                <div class="row justify-content-center white-bg">
                    <section class="panel">
                        <header class="panel-heading">
                            Employee Record Details
                        </header>
                        <br>
                        <div class="col-lg-4">
                            <section class="panel">
                                <div class="form-group row" hidden="hidden">
                                    <label class="col-sm-4 col-form-label">Id: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.id}" name="id"
                                               readonly placeholder="Id" hidden="hidden" style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlTitleEdit" class="col-sm-4 col-form-label">Title: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlTitleEdit" name="title" readonly style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="Mr." th:selected="${employee.title} == 'Mr.'">Mr.</option>
                                            <option value="Ms." th:selected="${employee.title} == 'Ms.'">Ms.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Initials: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.initials}"
                                               name="initials" placeholder="Initials" readonly style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Social Security No.: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control"
                                               th:value="${employee.socialSecurityNumber}" name="socialSecurityNumber"
                                               placeholder="Social Security Number" readonly style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Firstname: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.firstname}"
                                               name="firstname" placeholder="Firstname" readonly style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Lastname: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.lastname}"
                                               name="lastname" placeholder="Lastname" readonly style="width: 200px;">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ddlEmployeeTypeEdit" class="col-sm-4 col-form-label">Employee
                                        Type</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlEmployeeTypeEdit" name="employeetypeid" readonly style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="employeeType : ${employeeTypes}"
                                                    th:selected="${employeeType.id} == ${employee.employeetypeid}?True:False"
                                                    th:value="${employeeType.id}"
                                                    th:text="${employeeType.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>


                            </section>
                        </div>
                        <div class="col-lg-4">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Date of Birth:</label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" th:field="${employee.dateOfBirth}"
                                               name="dateOfBirth" placeholder="Date of Birth" readonly style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Hire Date:</label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" th:field="${employee.hireDate}"
                                               name="hireDate" placeholder="Hire Date" readonly style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlStateEdit" class="col-sm-4 col-form-label">State/Province: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlStateEdit" name="stateid" readonly style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="state : ${states}"
                                                    th:selected="${state.id} == ${employee.stateid}?True:False"
                                                    th:value="${state.id}"
                                                    th:text="${state.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">City: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.city}" name="city"
                                               placeholder="City" readonly style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Phone: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.phone}"
                                               name="phone" placeholder="Phone" readonly style="width: 200px;">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Address</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" th:field="${employee.address}" name="address"
                                                  placeholder="Address" rows="2" readonly style="width: 200px;"></textarea>
                                    </div>
                                </div>





                            </section>
                        </div>

                        <div class="col-lg-4">
                            <section class="panel">
                                <div class="form-group row">
                                    <label for="ddlGenderEdit" class="col-sm-4 col-form-label">Gender: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlGenderEdit" name="gender" readonly style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="MALE" th:selected="${employee.gender} == 'MALE'">MALE
                                            </option>
                                            <option value="FEMALE" th:selected="${employee.gender} == 'FEMALE'">FEMALE
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlNationalityEdit"
                                           class="col-sm-4 col-form-label">Nationality: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlNationalityEdit" name="countryid" readonly style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="country : ${countries}"
                                                    th:selected="${country.id} == ${employee.countryid}?True:False"
                                                    th:value="${country.id}"
                                                    th:text="${country.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>





                                <div class="form-group row">
                                    <label for="ddlMaritalStatusEdit" class="col-sm-4 col-form-label">Marital
                                        Status: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlMaritalStatusEdit" name="maritalStatus" readonly style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="Married"
                                                    th:selected="${employee.maritalStatus} == 'Married'">Married
                                            </option>
                                            <option value="Single" th:selected="${employee.maritalStatus} == 'Single'">
                                                Single
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" th:value="${employee.email}"
                                               name="email" placeholder="Email" readonly style="width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlJobTitleEdit" class="col-sm-4 col-form-label">Job Title</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlJobTitleEdit" name="jobtitleid" readonly style="width: 200px;">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="jobTitle : ${jobTitles}"
                                                    th:selected="${jobTitle.id} == ${employee.jobtitleid}?True:False"
                                                    th:value="${jobTitle.id}"
                                                    th:text="${jobTitle.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="fupImageEdit" class="col-sm-4 col-form-label">Select Image: </label>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fupImageEdit" name="photo"
                                               placeholder="Select File" readonly style="width: 200px;">
                                    </div>
                                </div>

                            </section>
                        </div>
                    </section>
                </div>
                <br>
                <div class="row white-bg">
                    <div class="panel-body">
<!--                        <button type="submit" class="btn btn-primary">-->
<!--                            Save-->
<!--                        </button>-->
                        <a href="/hr/employees" class="btn  btn-warning">
                            Exit
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

</body>
</html>
